$basic: #0f0e17;
$light: #fffffe;

// マークダウンの
.md-styles {
  font-size: 14px;
}
.md-styles ::v-deep p {
  margin: 5px 0 0;
}
.md-styles ::v-deep h1 {
  font-weight: bold;
  font-size: 2rem;
  margin: 25px 0;
}
.md-styles ::v-deep h2 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 20px 0;
}
.md-styles ::v-deep a {
  color: red;
}
.md-styles ::v-deep table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  th,
  td {
    border: 1px solid $basic;
    padding: 5px;
  }
}
.md-styles ::v-deep blockquote {
  font-size: 14px;
  border-left: 4px solid $light;
  padding-left: 8px;
  background: #555;
}
