@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

$basic: #0f0e17;
$light: #fffffe;
$orange: hsl(20, 70%, 60%);

* {
  box-sizing: border-box;
  font-family: 'New Tegomin','Courier New', serif, 'Hiragino Mincho ProN', Courier, monospace;
  user-select: none;
}

body {
  margin: 0;
  background: $basic;
  color: $light;
}

.container {
  margin: 0;
  padding: 0;
  min-height: 64vh;
}


h2,
h3 {
  margin-top: 20px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 10px;
  border-radius: 3px;
  background: $basic;
  color: $light;
  border: 1px solid $light;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
  outline: none;
}

a {
  text-decoration: none;
  color: $light;
}

::-webkit-scrollbar {
  width: 5px;
}
/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 10px;
}
